/* 全局样式表 */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #03138c;
  font-size: 0.166667rem;
}
html,body{
  width: 100%;
  height: 100%;
  overflow: auto;
}
ul,ol{
  list-style: none;
}

a{
  text-decoration: none;
}

@bgColor: #019fde;

@media screen and (max-width: 1920px) {
  html{
    font-size: 96px;
  }
}

@media screen and (max-width: 1352px) {
  html{
    font-size: 75px;
  }
}

// @media screen and (max-width: 1120px) {
//   html{
//     font-size: 56px;
//   }
//   .index_right_content{
//     display: none;
//   }
// }

// @media screen and (max-width: 992px) {
//   html{
//     font-size: 49.6px;
//   }
// }

// @media screen and (max-width: 750px) {
//   html{
//     font-size: 37.5px;
//   }
// }

// @media screen and (max-width: 576px) {
//   html{
//     font-size: 28.8px;
//   }
// }

#pageing{
  margin-top: 0.208333rem;
  font-size: 0.166667rem;
  font-size: 0.166667rem;
  button,li{
    background-color: @bgColor;
    height: 0.291667rem;
  }
}

#article_detail{
  h1,h2,h3,h4,h5,h6{
    padding: 0.0625rem 0;
  }
  h1{
    font-size: 0.229167rem;
  }
  h2{
    font-size: 0.208333rem;
  }
  h3{
    font-size: 0.197917rem;
  }
  h4{
    font-size: 0.1875rem;
  }
  h5{
    font-size: 0.177083rem;
  }
  h6{
    font-size: 0.166667rem;
  }
  ul,ol{
    padding: 0.208333rem;
  }
  li{
    padding-left: 2em;
  }
  p,li{
    font-size: 0.166667rem;
    line-height: 0.3125rem;
  }

  img{
    max-width: 80%;
    display: block;
    margin: 0 auto;
  }
  pre{
    padding: 0.104167rem;
    margin: 0.104167rem;
    background-color: #fff;
    overflow: auto;
  }
}