/* 全局样式表 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #03138c;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
@media screen and (max-width: 1920px) {
  html {
    font-size: 96px;
  }
}
@media screen and (max-width: 1352px) {
  html {
    font-size: 75px;
  }
}
@media screen and (max-width: 992px) {
  html {
    font-size: 49.6px;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 28.8px;
  }
}
